@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /* COLOURS */

  /* PRIMARY COLOURS */

  --clr-primary-red: hsl(0, 0%, 3%);
  --clr-primary-green: hsl(154, 59%, 51%);

  /* ACCENT COLOURS */

  --clr-accent-blue: hsl(248, 32%, 49%);

  /* NEUTRAL COLOURS */

  --clr-neutral-darkblue: hsl(249, 10%, 26%);
  --clr-neutral-grayblue: hsl(246, 25%, 77%);

  /* FONTS */

  --ff-main: "Poppins", sans-serif;
}

/* GENERAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(images/bg-intro-mobile.png);
  background-color: var(--clr-primary-red);
  min-height: 100vh;
}

.container {
  color: white;
  font-family: var(--ff-main);
  margin: 0 auto;
  max-width: 550px;
  padding: 5.5em 1.5em;
  text-align: center;
}

/* HERO SECTION */

.hero {
  margin-bottom: 4em;
}

.hero__title {
  font-size: 1.7rem;
  margin-bottom: 0.7em;
}

.hero__body {
  font-size: 0.98rem;
  font-weight: 400;
  margin: 0 auto;
  line-height: 1.7;
  width: 95%;
}

/* SIGNUP SECTION */

.cta {
  background: var(--clr-accent-blue);
  border-radius: 10px;
  box-shadow: 0 8px 0 0 hsl(66, 100%, 50%);
  margin-bottom: 1.5em;
  padding: 1.2em;
}

.cta__body {
  font-size: 0.96rem;
  font-weight: 300;
  line-height: 1.7;
  padding-left: 2em;
  padding-right: 2em;
}

.cta__body span {
  font-weight: 600;
}

.signup {
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 0 0 hsla(66, 100%, 54%, 0.7);
  padding: 1.5em;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-components {
  position: relative;
}

.form-components input {
  border: 1px solid rgb(221, 220, 220);
  border-radius: 5px;
  display: block;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 1em;
  width: 100%;
}

.form-components input:focus {
  /* Provides a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted var(--clr-primary-red);
}

.form-components input:focus:not(:focus-visible) {
  /* Removes the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.form-components input:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted var(--clr-primary-red);
}

.form-components i {
  font-size: 1.3rem;
  position: absolute;
  right: 1rem;
  visibility: hidden;
}

.form-components p {
  color: var(--clr-primary-red);
  font-weight: 500;
  font-size: 0.65rem;
  font-style: italic;
  text-align: right;
  visibility: hidden;
}

.signup-form button {
  all: unset;
  background: var(--clr-primary-green);
  border-radius: 5px;
  box-shadow: 0 4px 0 0 hsl(154, 57%, 45%);
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-bottom: 1.5em;
  opacity: 1;
  padding: 1em;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.signup-form button:hover {
  opacity: 0.8;
}

.signup-form button:focus {
  /* Provides a fallback style for browsers
     that don't support :focus-visible */
  outline: 4px dotted var(--clr-primary-red);
}

.signup-form button:focus:not(:focus-visible) {
  /* Removes the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.signup-form button:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 4px dotted var(--clr-primary-red);
}

/* SUCCESS/ERROR STATE STYLES */

.form-components.success input {
  border: 2px solid var(--clr-primary-green);
}

.form-components.error input {
  border: 2px solid var(--clr-primary-red);
}

.form-components.error i,
.form-components.success i {
  top: 1.2rem;
}

.form-components.success i.fa-check-circle {
  color: var(--clr-primary-green);
  visibility: visible;
}

.form-components.error i.fa-exclamation-circle {
  color: var(--clr-primary-red);
  visibility: visible;
}

.form-components.error p {
  padding-top: 0.5em;
  padding-bottom: 0.9em;
  visibility: visible;
}

/* TERMS & CONDITIONS */

.terms {
  color: var(--clr-neutral-grayblue);
  font-size: 0.67rem;
  line-height: 2;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.terms a,
.terms a:active {
  color: var(--clr-primary-red);
  font-weight: 700;
  opacity: 1;
  text-decoration: none;
  transition: all 0.2s ease;
}

.terms a:hover {
  opacity: 0.8;
}

.terms a:focus {
  /* Provides a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted var(--clr-primary-green);
}

.terms a:focus:not(:focus-visible) {
  /* Removes the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.terms a:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted var(--clr-primary-green);
}

/* MEDIA QUERIES */

@media (min-width: 960px) {
  body {
    background: url(images/bg-intro-desktop.png);
    background-color: var(--clr-primary-red);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    min-height: 100vh;
    place-items: center;
  }

  .hero {
    padding-right: 2rem;
    text-align: left;
  }

  .hero__title {
    font-size: 3rem;
    line-height: 1.1;
  }

  .hero__body {
    width: 100%;
  }

  .signup-side {
    min-width: 500px;
  }
}
